<%- include ("./partials/_header") %>
    <div class="container-fluid ">
        <div class="row mt-3">
            <div class="col-xs-9 ml-2 mr-5">
                <form action="/search" class="form-inline" method="post">
                    <input type="text" id="id" name="id" class="form-control">
                    <button class="btn btn-success">BUSCAR</button>
                </form><br>

                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>nro</th>
                            <th>NOMBRES</th>
                            <th>APELLIDOS</th>
                            <th>DIRECCION</th>
                            <th>TELEFONO</th>
                            <th>CORREO</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data){ %>
                            <%for(var i=0;i<data.length;i++){ %>
                                <tr>
                                    <td>
                                        <%=(i+1) %>
                                    </td>
                                    <td>
                                        <%=data[i].nombres %>
                                    </td>
                                    <td>
                                        <%=data[i].apellidos %>
                                    </td>
                                    <td>
                                        <%=data[i].direccion %>
                                    </td>
                                    <td>
                                        <%=data[i].telefono %>
                                    </td>
                                    <td>
                                        <%=data[i].email %>
                                    </td>
                                    <td>
                                        <a href="/delete/<%= data[i].id %>" class="btn btn-danger btn-sm">DELETE</a><br>
                                        <a href="/update/<%= data[i].id %>" class="btn btn-info btn-sm">UPDATE </a>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>

                    </tbody>
                </table>
            </div>

            <div class="col-xs-3 pl-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/register" method="post">
                            <div class="form-group">
                                <input type="text" name="nombres" placeholder="NOMBRES" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="apellidos" placeholder="APELLIDOS" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="direccion" placeholder="DIRECCION" class="form-control">

                            </div>
                            <div class="form-group">
                                <input type="text" name="telefono" placeholder="TELEFONO" class="form-control">

                            </div>
                            <div class="form-group">
                                <input type="text" name="email" placeholder="CORREO" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary"> enviar</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <%- include ("./partials/_footer") %>